*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::-webkit-scrollbar{
    background: transparent;
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background: #606060;
    border-radius: 100px;
}
body{
    background-color: #0a192f;
}
li, a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%; 
    background-color: #0a192f;
    list-style: none;
    text-decoration: none;
    position: sticky;
    z-index: 99;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(2,12,27,0.7);
}
.logo img{
    height: 100px;
    width: 200px;

}
.navigations{
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}
.navigations li{
    display: inline;
    margin: 30px;
}
.navigations a{
    color: #ccd6f6;
}
.navigations a:hover{
    display: inline-block;
    background-clip: text;
    -webkit-background-clip:text;
    color: #ccd6f6;
    -webkit-text-stroke: .5px black;
}
.registration{
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}
.registration li{
    display: inline;
}
.btnNav{
    padding: 0.5rem 0.75rem;
    background-color: transparent;
    border-color: #64ffda;
    border-width: 1px;
    border-radius: 4px;
    color: #64ffda;
    cursor: pointer;
}
.btnNav:hover{
    background-color: #64ffdb2c;
    opacity: 1;
}
.title{
    text-align: center;
    margin: 25px;
    font-size: 1.5rem;
}
.title h1{
    color: #64ffda;
}
.break{
    padding: 25px 10%; 
}
.container{
    padding: 25px 10%; 
    align-content: center;
}
.equipments{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    margin-bottom: 50px;
    background-color: #112240;
    border-radius: 10px;
}
.equipments h3{
    font-size: 3rem;
    color:#ccd6f6;
}
.equipments p{
    padding-top: 15px;
    font-size: 20px;
    line-height: 2.5rem;
    text-align: justify;
    color: #8892b0;
}
.cont1{
    flex-basis: 50%;
    position: relative;
}
.cont2{
    flex-basis: 50%;
}
.cont1 img{
    width: 600px;
    height: 300px;
    margin-left: 60px;
    transition: .5s ease;
    backface-visibility: hidden;
}
.cont1:hover img {
    transform: scale(1.1);
}
footer{
    padding: 25px 12%;
    background-color: transparent;
    text-align: center;
    line-height: 3rem;
}
.btn {
    padding: 0.9em 1.6em;
    color: #FFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
   }    
   .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgb(2, 125, 173);
    left: 0;
    top: 0;
    border-radius: 10px;
   }
   /* glow */
   .btn::before {
    content: "";
    background: linear-gradient(
       45deg,
       #FF0000, #002BFF, #FF00C8, #002BFF,
         #FF0000, #002BFF, #FF00C8, #002BFF
   );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
   }
   
   @keyframes glowing {
    0% {
     background-position: 0 0;
    }
   
    50% {
     background-position: 400% 0;
    }
   
    100% {
     background-position: 0 0;
    }
   }
   
   /* hover */
   .btn:hover::before {
    opacity: 1;
   }
   
   .btn:active:after {
    background: transparent;
   }
   
   .btn:active {
    color: #000;
    font-weight: bold;
   }

label #btn,
label #cancel{
    font-size: 25px;
    display: none;
}
#check{
    display: none;
}
.hamburger{
    display: none;
}
@media only screen and (max-width: 576px) {
    label #btn{
        display: block;
        font-size: 18px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .hamburger{
        display: block;
    }
    .hamburger .line{
        width: 25px;
        height: 2px;
        background: #fefefe;
        margin: 5px 0;
    }
    .hamburger.active .line:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .line:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5%; 
        background-color: #0a192f;
        list-style: none;
        text-decoration: none;
        position: sticky;
        z-index: 99;
        top: 0;
        box-shadow: 0 2px 4px 0 rgba(2,12,27,0.7);
    }
    .navigations{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 82px;
        left: -100%;
        background-color: #102b53;
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: all .5s;
    }
    .navigations ul li{
        display: block;
    }
    .navigations a{
        font-size: 17px;
    }
    .navigations.active{
        left: 0;
    }
    .logo img{
        height: 60px;
        width: 130px;
        margin-top: 8px;
    }
    .registration{
        list-style: none;
        text-decoration: none;
        font-weight: 500;
    }
    .registration li{
        display: inline;
    }
    .btnNav{
        padding: 6px 5px;
        background-color: transparent;
        border-color: #64ffda;
        border-width: 1px;
        border-radius: 4px;
        color: #64ffda;
        cursor: pointer;
        font-size: 9px;
    }
    .title{
        text-align: center;
        margin: 25px;
        font-size: 0.9rem; 
    }
    .title h1{
        color: #64ffda;
    }
    .break{
        padding: 25px 10%; 
    }
    .container{
        padding: 25px 10%; 
        align-content: center;
    }
    .equipments{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        margin-bottom: 30px;
        background-color: #112240;
        border-radius: 10px;
    }
    .equipments h3{
        font-size: 2rem;
        color:#ccd6f6;
    }
    .equipments p{
        padding-top: 15px;
        font-size: 15px;
        line-height: 30px;
        text-align: justify;
        color: #8892b0;
    }
    .cont1{
        flex-basis: 50%;
        position: relative;
    }
    .cont2{
        flex-basis: 50%;
    }
    .cont1 img{
        width: 280px;
        height: 270px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .cont1:hover img {
        transform: scale(1.1);
    }
    footer{
        padding: 25px 7%;
        background-color: transparent;
        text-align: center;
        line-height: 3rem;
    }
    footer a{
        font-size: 10px;
    }
    footer p{
        font-size: 9px;
    }
    .btn {
        padding: 6px 13px;
        color: #FFF;
        font-family: inherit;
        font-weight: 500;
        font-size: 15px;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 12px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 1px;
       }    
       .btn::after {
        content: "";
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color:rgb(2, 125, 173);
        left: 0;
        top: 0;
        border-radius: 10px;
       }
       /* glow */
       .btn::before {
        content: "";
        background: linear-gradient(
           45deg,
           #FF0000, #002BFF, #FF00C8, #002BFF,
             #FF0000, #002BFF, #FF00C8, #002BFF
       );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 600%;
        z-index: -1;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        filter: blur(8px);
        animation: glowing 20s linear infinite;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
        opacity: 0;
       }
       
       @keyframes glowing {
        0% {
         background-position: 0 0;
        }
       
        50% {
         background-position: 400% 0;
        }
       
        100% {
         background-position: 0 0;
        }
       }
       
       /* hover */
       .btn:hover::before {
        opacity: 1;
       }
       
       .btn:active:after {
        background: transparent;
       }
       
       .btn:active {
        color: #000;
        font-weight: bold;
       }
}

@media only screen and (max-width: 375px) {
    .cont1 img{
        width: 245px;
        height: 270px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }   
}
